$margin: 2.5vh 0vw;
@mixin widthHeightSignup {
    width: 252px;
    height: 35px;
}
.signup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0vh 24vw;
    .fullName {
        @include widthHeightSignup();
        margin: $margin;
    }
    .emailInput {
        @include widthHeightSignup();
        margin: $margin;
    }
    .passwordSignup {
        @include widthHeightSignup();
        margin: $margin;
    }
    .numSignup {
        @include widthHeightSignup();
        margin: $margin;
    }
    .signupButton {
        width: 252px;
        height: 37px;
        background-color: #a03037;
        font-size: 18px;
        margin: 3vh 0vw;
    }
}
