.wholeCart {
    width: 75%;
    margin: 0vh 15vw;
    .homeLine {
        display: flex;
        margin: 1vh 2vw;
    }
    .bookDetailsBox {
        border: 1.5px solid black;
        .firstLine {
            display: flex;
            gap: 800px;
            align-items: center;
            margin: 0vh 2vw;
            .cart {
                font: 20px bold;
            }
        }
        .cartMap {
            .imageAndDetails {
                display: flex;
                .theImage {
                    margin: 2vh 3vw;
                    width: 90px;
                    height: 125px;
                }
                .mainCartBook {
                    .cartBookDetails {
                        margin: 2.5vh 0vw;
                        .cartTitle {
                            font-size: 20px;
                        }
                        .cartAuthor {
                            font-size: 13px;
                        }
                        .cartNewPrice {
                            font-size: 16px;
                        }
                        .cartOldPrice {
                            font-size: 13px;
                        }
                    }
                    .buttonFour {
                        margin: 0vh -1vw;
                    }
                }
            }
        }
        .submit {
            background-color: #3371b5;
            width: 151px;
            height: 35px;
            color: white;
            margin: 0vh 0vw 2vh 60vw;
        }
    }
    .address {
        .addressdefauls {
            height: 50px;
            .detailMain {
                margin: 2vh 0vw;
                border: 1px solid black;
                .details {
                    height: 20px;
                    font-size: 20px;
                    margin: 2vh 0vw 2vh 2vw;
                }
            }
            .order {
                border: 1px solid black;
                margin: 2vh 0vw;
                .summary {
                    font-size: 20px;
                    height: 20px;
                    margin: 2vh 0vw 2vh 2vw;
                }
            }
        }
    }
    .OrderDetailContainer2 {
        margin: 1.5vh 0vw;
        .orderSummeryContainer {
            border: 1px solid black;
            padding: 10px;
            .txt {
                font-size: 20px ;
                font-weight: 600;
                margin: 2vh 0vw 2vh 2vw;
            }
            .bookImgAddDetails {
                display: flex;
                .bookImgDiv {
                    .theImage {
                        margin: 1vh 1.5vw;
                    }
                }
                .bookDetailsDiv-text {
                    margin: 2vh 0vw;
                    .bookName {
                        font-size: 20px;
                    }
                    .author {
                        font-size: 13px;
                    }
                    .discountPrice {
                        font-size: 18px;
                    }
                    .price {
                        font-size: 13px;
                    }
                }
            }
            .checkout-btn{
                margin: 0vh 0vw 0vh 65vw;
            }
        }

    }
}
.footer {
    margin: 50vh 0vw 0vh 0vw;
    height: 35px;
    color: whitesmoke;
    background-color: black;
    border: 1px solid black;
}
