.userPage {
    background-color: white;
    .login {
        background-color: white;
        .inLogin{
            background-color: white;
        }
        .emailInput {
            top: 270px;
            left: 727px;
            width: 252px;
            height: 32px;
        }
    }
    .signin{
        background-color: white;
        .inLogin{
            background-color: white;
        }
    }
}
